.headerQuestion {
	margin-top: 40px;
	font-size: 60px;
}

.respuestas {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	font-size: 40px;
	letter-spacing: 2px;
}

.respuestas p:first-child {
	margin-left: 0;
}

.respuestas p {
	margin-left: 30px;
	margin-bottom: 0;
}

.selected {
  color: #ffdf00;
}

